<head>
  <meta charset="UTF-8">
  <title>Beer Olympics 2023</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <img src="/olympic sign.png" alt="">
      <h1>
         Beer Olympics 2023!<br>
         Saturday October 7th 
      </h1>
      <img src="/Beer.png" alt="">
    </header>
    <br>
    <br>
      <nav  class ="nav1">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile"><Button class="but">Profile</Button></a>
        <a href="/profile"><Button class="but">Standings</Button></a>
       <a href=""> <button class="but" id="logout">logout</button></a>
      
        {{else}}
    
        <a href="/login"><button class ="but">Login or Sign Up to Begin</button></a>
    
        {{/if}}
     

      </nav>


      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}




  </body>

</html>