




<body>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<main id="tournament">

  
  <ul class="round round-2">
  
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner" id = "g1t1"></li><li></li><button class="" id = "b1t1">Winner?</button><li></li><li></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom" id = g1t2>  
     
          </li><button id = "b1t2"> Winner? </button><li></li>

    <li class="spacer">&nbsp;</li>
    <li class="game game-top winner" id = g1t3></li><button class=""   id = "b1t3"> Winner? </button><li></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom " id = g1t4></li><button class=""  id = "b1t4"> Winner? </button><li></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top "id = g1t5></li><button class=""  id = "b1t5" > Winner? </button><li></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner"id = g1t6></li><button class="" id = "b1t6"> Winner? </button><li></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top " id = g1t7></li><button class="" id = "b1t7"> Winner? </button><li></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner"id = g1t8></li><button class=""id = "b1t8"> Winner? </button><li></li>

    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-3">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner" id = "g2t1"></li><button class="toggle" id = "b2t1"> Winner? </button><li></li><li></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom" id = "g2t2"></li><button class="toggle" id = "b2t2"> Winner? </button><li></li><li></li>

    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top "id = "g2t3"></li><button class="toggle" id = "b2t3"> Winner? </button><li></li><li></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner"id = "g2t4"></li><button class="toggle" id = "b2t4"> Winner? </button><li></li>
    <li class="spacer">&nbsp;</li>
  </ul> 

  <ul class="round round-4">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner" id = "g3t1"></li><button class="toggle" id = "b3t1"> Winner? </button><li></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom "id = "g3t2"></li><button class="toggle" id = "b3t2"> Winner? </button><li></li>
    
    <li class="spacer">&nbsp;</li>
  </ul> 
  <ul class="round round-4">
    <li class="spacer">&nbsp;</li>
    
    <li class="game game-top winner "id = "g4t1"><span></span></li>
    
    <li class="spacer">&nbsp;</li>
  </ul> 
</main>
  
</body>
<script type="text/javascript" src="./js/standings.js"></script>
</html>
